body {
    color: rgb(4, 0, 255);
    margin: auto;
}

header {
    background-color: #AC9FBB;
    color: rgb(240, 243, 240);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: #CBF6E9;
}

p {
    color: aliceblue;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.intro {
    max-width: 500px;
    text-align: left;
    background-color: rgb(45, 116, 177);
    padding: 50px 20px 50px 20 px;
}

.photo {
    border-radius: 50%;
}